extends ../layout.pug
include ../mixins/globalmanagenav.pug

block head
	title #{__('Trusted Users')}

block content
	h1.board-title #{__('Trusted Users')}
	br
	+globalmanagenav('trusted')
	hr(size=1)
	.form-wrapper.flexleft
		h4.no-m-p #{__('Add User')}:
		form.form-post.mv-5(action=`/forms/global/addtrusted` method='POST' enctype='application/x-www-form-urlencoded')
			input(type='hidden' name='_csrf' value=csrf)
			.row
				.label #{__('Username')}
				input(type='text' name='username' required)
			input(type='submit', value=__('Add'))
	hr(size=1)
	h4.no-m-p #{__('Current Trusted Users')}:
	//-ew
	- const trustedEntries = [];
	if trustedEntries.length > 0
		form.form-post.nogrow(action=`/forms/global/deletetrusted` method='POST' enctype='application/x-www-form-urlencoded')
			input(type='hidden' name='_csrf' value=csrf)
			.table-container.flex-left.mv-5.text-center
				table
					tr
						th
						th #{__('Username')}
						th #{__('Date Added')}
					for trusted in trustedEntries
						tr
							td: input(type='checkbox' name='checkedtrusted' value=trusted[0])
							td #{trusted[0]}
							td 
								time.reltime(datetime=trusted[1].addedDate) #{trusted[1].addedDate.toLocaleString(pageLanguage, {hourCycle:'h23'})}

			h4.no-m-p #{__('Delete Selected')}:
			input(type='submit', value='Delete')

	else
		p #{__('None')}
