extends ../layout.pug
include ../mixins/managenav.pug
include ../mixins/boardheader.pug

block head
	title /#{board._id}/ - #{__('Approval')}

block content
	+boardheader(__('Approval'))
	br
	+managenav('approval')
	hr(size=1)
	h4.no-m-p #{__('Pending Approval')}:
	form(action=`/forms/board/${board._id}/modactions` method='POST' enctype='application/x-www-form-urlencoded')
		if pending.length === 0
			p #{__('No media pending.')}
		else
			input(type='hidden' name='_csrf' value=csrf)
			for media in pending
				p= media